---
layout: base
---

<h1 class="post-title p-name"><span class="gold"> <div style="text-align:center"> Aubry McConnell</div></span></h1>

<div style="text-align: center"><img src="./assets/files/HomePic.jpg" width="300" /></div>

<div style="text-align: center">Welcome to my website!</div>
I am a results-driven computer scientist with expertise and passion in software development, database management, and cybersecurity. I strive to apply my technical prowess to drive innovative solutions in the software development industry. I am seeking challenging opportunities that merge my skills and interests. Let's connect and collaborate on cutting-edge projects together.
<br><br>Click on the links below to learn more about me.<br><br>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta"></span>
        <h3>
          <a href="#000000"></a>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>

<div style="text-align: center"><a href="./assets/files/McConnellAResume.pdf" download="McConnellAResume">Download my resume</a></div>
